.Container_Movie {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.Global_Wrapper {
background-image: linear-gradient(to right, rgba(244, 236, 249, 0.95), rgba(244, 236, 249, 0.95)),
        url(../../images/cameraImage.jpg);
    background-size: 20%;
    min-height: 100vh;
}

.head_Movie {
 color: rgb(91, 27, 152);   
}

.Btn_Back {
    border: none;
    color: blueviolet;
    background-color: inherit;
    cursor: pointer;
    height: 100px;
    width: 100px;
}

.Btn_Back:hover {
    color: blue;
}

.Poster {
    border-radius: 5px;
    width: 400px;
    height: 625px;
}



.Movie_description {
    font-style: italic;
}

 
.Accent_Header_description {
    font-weight: bold;
}

.Wrapper_Movie_Info {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 padding-left: 20px;
 
}


.Additional_Info {
display: inline-flex;
margin-right: 15px;
margin-bottom: 16px;
margin-top: 16px;
font-style: italic;
}

.Accent_Description {
    color: rgb(188, 30, 30);
}

.Error_Message {
    color: rgb(188, 30, 30);
    font-size: 18px;
    font-style: italic;
    display: flex;
    align-items: center;
}